<div class="jumbotron jumbotron-fluid text-center" >
  <div class="container">
    <h1 class="display-3"><i class="fa fa-diamond" aria-hidden="true"></i> Welcome to HashStores! </h1>
    <p class="lead">this project is built with  rails <%= Rails.version %></p>
    <p>Please search for your city!<i class="fa fa-heart" aria-hidden="true"></i> </p>
  </div>
</div>
