<div class="jumbotron jumbotron-fluid" style=" background-color:'#e24138';">
  <div class="container">
    <h1 class="display-3"><i class="fa fa-diamond" aria-hidden="true"></i> Welcome to HashStores! Please seach for your city!</h1>
    <p class="lead">this project is built with  rails <%= Rails.version %></p>
    <p>{ :ruby => <i class="fa fa-heart" aria-hidden="true"></i> }</p>
  </div>
</div>
