<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body" style="color:blue">
        <h1 >Project: Online Store Listing</h1>
        <p> You'll be building a simple online listing of stores with admin to control the stores. The project
            consist of 2 modules that covers CRUD features -
            1. The customer facing that lists all the stores in a selected geographical location
            2. An admin screen with a form to Add, Update, and Delete a store</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
